@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #141414;
  color: white;
}

#root {
  height: 100vh;
}

.custom-h {
  height: auto !important;
}
@media screen and (min-width: 1024px) {
  .custom-h {
    height: 100vh !important;
  }
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f111;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6f6f6f;
}
